archspec 
asgiref==3.8.1
boltons 
Brotli 
cffi
charset-normalizer
conda 
conda-libmamba-solver 
conda-package-handling
conda_package_streaming 
distro 
dj-database-url==2.3.0
Django==5.2
django-heroku==0.3.1
frozendict 
gunicorn==23.0.0
idna 
jsonpatch 
jsonpointer==2.1
libmambapy 
menuinst
packaging 
platformdirs
pluggy 
psycopg2==2.9.10
pycosat 
pycparser
PySocks 
requests 
ruamel.yaml 
setuptools==75.8.0
sqlparse==0.5.3
tqdm 
truststore 
typing_extensions==4.13.1
urllib3
wheel==0.45.1
whitenoise==6.9.0
zstandard
