aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
archspec @ file:///croot/archspec_1709217642129/work
asgiref==3.8.1
attrs==25.3.0
black==25.1.0
boltons @ file:///croot/boltons_1737061692168/work
Brotli @ file:///croot/brotli-split_1736182456865/work
certifi @ file:///croot/certifi_1738623731865/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer==3.1.0
click==8.1.8
colorama==0.4.6
commonmark==0.9.1
conda @ file:///croot/conda_1743715288469/work/conda-src
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1742218810516/work/src
conda-package-handling @ file:///croot/conda-package-handling_1731369017509/work
conda_package_streaming @ file:///croot/conda-package-streaming_1731366181659/work
cryptography==43.0.3
debugpy==1.8.13
distro @ file:///work/perseverance-python-buildout/croot/distro_1728396110052/work
dj-database-url==2.3.0
Django==5.2
django-heroku==0.3.1
docopt==0.6.2
fastjsonschema==2.21.1
frozendict @ file:///work/perseverance-python-buildout/croot/frozendict_1728497542215/work
frozenlist==1.5.0
ggshield==1.38.1
gunicorn==23.0.0
idna @ file:///work/perseverance-python-buildout/croot/idna_1728385935861/work
jsonpatch @ file:///work/perseverance-python-buildout/croot/jsonpatch_1728399595941/work
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_core==5.7.2
libmambapy @ file:///croot/mamba-split_1734469461757/work/libmambapy
marshmallow==3.18.0
marshmallow-dataclass==8.5.14
menuinst @ file:///croot/menuinst_1738943416351/work
multidict==6.2.0
mypy==1.15.0
mypy-extensions==1.0.0
nbformat==5.10.4
oauthlib==3.2.2
packaging @ file:///croot/packaging_1734472117206/work
pathspec==0.12.1
pigar==2.1.7
pipreqs==0.4.13
platformdirs==3.0.0
pluggy @ file:///croot/pluggy_1733169602837/work
propcache==0.3.1
psycopg2==2.9.10
pycosat @ file:///croot/pycosat_1736868416091/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pygitguardian==1.20.0
Pygments==2.19.1
PyJWT==2.6.0
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1728386193338/work
python-dotenv==0.21.1
PyYAML==6.0.2
referencing==0.36.2
requests @ file:///croot/requests_1730999120400/work
rich==12.5.1
rpds-py==0.24.0
ruamel.yaml @ file:///work/perseverance-python-buildout/croot/ruamel.yaml_1728397638193/work
ruff==0.11.4
setuptools==75.8.0
sqlparse==0.5.3
tqdm @ file:///croot/tqdm_1738943501192/work
traitlets==5.14.3
truststore==0.10.1
typing-inspect==0.9.0
typing_extensions==4.12.2
urllib3==2.2.3
wheel==0.45.1
whitenoise==6.9.0
yarg==0.1.10
yarl==1.19.0
zstandard @ file:///croot/zstandard_1731356346222/work
