$primary-color :#034C53;
$secondary-color: #007074;
$third-color: #007074;
$fourth-color:  #FFC1B4;


body {
  background-color: $primary-color;
  color: $fourth-color;
}

header{
background-color: $secondary-color;
line-height: 2.0;
margin-left: auto;
margin-right: auto;
width: 4em;
}
contactfooter{
  align-items: center;
  posiion: absolute;
  left: 50%;
}
