$primary-color :#244855;
$secondary-color: #E64833;
$third-color: #874F41;
$fourth-color:  #90AEAD;
$fifth-color: #FBE9D0;

@font-face {
    font-family: 'NerdFont';
    src: url('fonts/0xProtoNerdFont-Regular.ttf') format("truetype");
}
body {
  background-color: $primary-color;
  color: $fourth-color;
  font-family: NerdFont;
  margin-left: auto;
  margin-right: auto;
  
}
dt{
  font-weight: bold;
  font-family: NerdFont;
  color: $third-color;
}
header{
background-color: $third-color;
font-family: NerdFont;
line-height: 3.0;
margin-left: auto;
margin-right: auto;
margin-top:0;
padding:0;
}

contactfooter{
  align-items: center;
  posiion: absolute;
  left: 50%;
}
.main_center{
  margin-left:10em;
  margin-right:10em;
}
