@font-face {
  font-family: 'NerdFont';
  src: url("/staticfiles/fonts/0xProtoNerdFont-Regular.ttf") format("truetype"); }

/* line 11, staticfiles/style.scss */
body {
  background-color: #244855;
  color: #90AEAD;
  margin-left: auto;
  margin-right: auto;
  width: 25em; }

/* line 18, staticfiles/style.scss */
dt {
  font-weight: bold;
  font-family: 'NerdFont';
  color: #874F41; }

/* line 23, staticfiles/style.scss */
header {
  background-color: #E64833;
  line-height: 2.0;
  margin-left: auto;
  margin-right: auto;
  width: 4em; }

/* line 31, staticfiles/style.scss */
contactfooter {
  align-items: center;
  posiion: absolute;
  left: 50%; }
