/* line 7, staticfiles/style.scss */
body {
  background-color: #034C53;
  color: #FFC1B4;
  margin-left: auto;
  margin-right: auto;
  width: 25em; }

/* line 14, staticfiles/style.scss */
dt {
  color: #007074; }

/* line 17, staticfiles/style.scss */
header {
  background-color: #007074;
  line-height: 2.0;
  margin-left: auto;
  margin-right: auto;
  width: 4em; }

/* line 25, staticfiles/style.scss */
contactfooter {
  align-items: center;
  posiion: absolute;
  left: 50%; }
