/* line 7, staticfiles/style.scss */
body {
  background-color: #034C53;
  color: #FFC1B4;
  margin-left: auto;
  margin-right: auto;
  width: 200em; }

/* line 15, staticfiles/style.scss */
header {
  background-color: #007074;
  line-height: 2.0;
  margin-left: auto;
  margin-right: auto;
  width: 4em; }

/* line 23, staticfiles/style.scss */
contactfooter {
  align-items: center;
  posiion: absolute;
  left: 50%; }
