/* line 7, staticfiles/style.scss */
body {
  background-color: #034C53;
  color: #FFC1B4; }

/* line 12, staticfiles/style.scss */
header {
  line-height: 1.5;
  margin: 0px 10px;
  display: inline-block; }
