<!DOCTYPE>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <div class="container py-4">
      <h1 class="display-3 text-center text-primary fw-bold">Leo Scaletty</h1>
      <h2 class="h4 text-center text-muted mb-4">Yo-Yo Enthusiast • Trick Inventor • Legend</h2>
    </div>

    <nav id="compass" class="navbar sticky-top bg-body-tertiary px-3 mb-3">
      <a class="navbar-brand" href="#">HOME</a>
      <ul class="nav nav-pills">
        {% for i in headers %}
          <li class="nav-item">
            <a class="nav-link" href="#{{ i.name}}">{{ i.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
      <div id="scrollspy" data-bs-spy="scroll" data-bs-target="#compass" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary px-3 rounded-2" tabindex="0">
        {% for i in headers %}
          <h4 id="{{ i.name }}">{{ i.name }}</h4>
          <ul>
            {% for j in i.bullet_set.all %}
              <li>{{ j.content }}
                <ul>
                  {% for k in j.moreinfo_set.all %}
                    <li>{{ k.content }}</li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
    </div>
  </body>
<script>
  function updateNavbarHeight(){
    const navbar = document.querySelector('.navbar');
    if (navbar) {
      document.documentElement.style.setProperty('--navbar-height', `${navbar.offsetHeight}px`);
    }
  }
  document.addEventListener('DOMContentLoaded', updateNavbarHeight);
  window.addEventListener('resize', updateNavbarHeight);
</script>
<style>
  h4[id]{
    scroll-margin-top: var(--navbar-height);
  }
</style>