{%load static%}
<link rel="stylesheet" href="{%static 'alternate.css'%}"/>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<script>

  var term = $('.body').terminal(){
    greetings: term.echo(hi)
  }


</script>
<div class="modal">
    <header>
        <span class="buttons">
            <ul>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </span>
        <span class="title">jQuery Terminal Modal</span>
    </header>
    <div class="body">
    </div>
</div>
