<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    {% load compress %}
    {% compress css %}
    <link type="text/x-scss" href="{% static 'style.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <link rel="icon" href="" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Aaron Scaletty Resume</h1>  
    </main>
    <script src="index.js"></script>
     this resume is a work in progress. This is something that I built myself with python an django. the goal is to eventually have is where i can upload my resume in a specific format, maybe a csv or smth , and then have the website display that information. 
  </body>
</html>


