<!DOCTYPE html>
<html>
  <head>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  
  {%load static%}
  <script src="{%static 'terminal.js'%}"></script>
  <link rel="stylesheet" href="{%static 'terminal.css'%}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script>
</head>

<body>
  <template id='greetings'>
   ___                       ____         __    __  __      
  / _ |___ ________  ___    / __/______ _/ /__ / /_/ /___ __
 / __ / _ `/ __/ _ \/ _ \  _\ \/ __/ _ `/ / -_) __/ __/ // /
/_/ |_\_,_/_/  \___/_//_/ /___/\__/\_,_/_/\__/\__/\__/\_, / 
                                                     /___/ 
type help for command list and normal to get a ui
  </template>
  <template id='normal'>lol skill issue...</template>
  <template id='help'> 
get cv:                                       download my cv
aboutme:                                      learn a little about me
normal:                                       go to learn a website with a gui
contact:                                      contact me
clear:                                        clear terminal
theme:                                        change theme

  </template>
  <canvas id='canvas' width="200" height="10"></canvas>

  <script>

  var r = document.querySelector(':root');
  var primary_color= getCSSVar('primaryColor')
  var secondary_color= getCSSVar('secondaryColor')
  var third_color= getCSSVar('thirdColor')
  var fourth_color= getCSSVar('fourthColor')
  var fifth_color= getCSSVar('fifthColor')
  var color_array= [[primary_color,secondary_color,third_color,fourth_color,fifth_color],[0,50,100,150,200]];
  console.log(color_array);
  const canvas = document.getElementById('canvas');
  const ctx = canvas.getContext('2d');
  ctx.fillStyle = 'yellow';
  ctx.fillRect(0,0,10000, 10000);
  for (let i=0; i<4;i++){
  ctx.beginPath(); 
  ctx.fillStyle= color_array[0][i];
  ctx.fillRect(color_array[1][i], 0, 50, 50);
  console.log('filling rectange with', color_array[0][i], 'at 0', color_array[1][i]);
  ctx.stroke();
  }
   function getCSSVar(variable) {
    return window.getComputedStyle(document.documentElement).getPropertyValue('--' + variable);
  }
    function changetheme(input){
      if(input=="catpuccin"){
       r.style.setProperty('--third-color', 'lightblue');
      }

    }
$('body').terminal({
    hello: function(what) {
        this.echo('Hello, ' + what +
                  '. Wellcome to this terminal.');
    },
    marco: function() {
        this.echo('Polo!');
    },
    normal:function() {
        this.echo(normal.innerHTML);
        setTimeout(function() {
          window.location.replace("https://scaletty.com/aaronscaletty/ui");
        }, 1000)
    },
    help: function() {
        this.echo(help.innerHTML);
    },
    get: function(input) {
      if(input== 'cv'){

      }
      },
    theme: function(input) {
      changetheme(input);
      },


}, {
    greetings: greetings.innerHTML
});
</script>
</body>
</html>
